* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #111111;
  color: #eeeeee;
  margin: 0;
  padding: 0;
}

html {
  background-color: #111111;
}/* You can add global styles to this file, and also import other style files */
